 // bienvenue 
  .wrapper {
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../style/image/interieur.png");
  }

  .text-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: $nude;
    background-image: linear-gradient(to bottom right, rgba(127, 85, 57, 1), rgba(127, 85, 57, 0.6));
    .title {
        font-family: $text_headline ;
        font-size: 5rem;

  }
    .subtitle {
      font-family: $text_headline ;
      font-size: larger;
    }
  }
// au dessus de 1076

  @media screen and (min-width: 1076px) {
    .jarallax-image {
        top: 110px;
    }
    .title {
      font-size: 5rem;
    }
  }
// de 768 a 1076  
  @media screen and (min-width: 768px) and (max-width: 1076px) {
    .jarallax-image {
        top: 0;
    }
  }
  

  