body {
    box-sizing: border-box;
}

.burger-image {
    width: 10%;
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  