.group-dishes {
    margin-top: 5%;
    font-family: $text_body;
    background-color: $mid-nude;
    color: $brown;
}
.formule {
    background-color: $nude;
    text-align: center;
    border: 10px solid $brown;
    .time {
        list-style: none;
        text-decoration: underline;
   }
    .content {
        list-style: none;
        padding: 1em;
    }
    h2 {
        letter-spacing: 0.3em;
        font-family: $text_headline;
    }
}

.burger-image {
    @include burger-image;
    margin-left: 2em;
}