@mixin btn-style {
  color: $nude;
    background-color: $brown;
    font-family : $text_body;
        &:hover {
            background-color: $mid_nude;
            color: $nude;
        }
}
@mixin btn-link {
  color: $brown;
    background-color: $nude;
    font-family : $text_body;
        &:hover {
            background-color: $mid_nude;
            color: $nude;
        }
}
@mixin burger-image {
    width: 10%;
    animation: spin 10s linear infinite;
    margin-left: 2em;
  }
  @keyframes spin {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 1;
      transform: rotate(360deg);
    }
  }

  @mixin title {
    
    text-shadow: 1px 1px 1.5px $nude, 0 0 1em $nude, 0 0 0.2em $mid_nude;
      color: transparent;
      font-family: $text_headline;
      font-size: 3em;
      text-align: center;

  }
  @mixin text_body {
    font-family: $text_body;
    color: $nude;
  }
  