
.navbar {
  background-color: $brown;
  font-family: $text_headline;
  opacity: 1;
  width:100vw;
  transition: opacity 0.5s ease-in-out;
  }
  .navbar.hidden {
    opacity: 0;
  }

  .logo, .logo-2 {
     background-color: $nude;
     border-radius: 30%;
    }
 
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    color: $nude;
    margin: 0.5em;
    font-size: 1.2em; 
    &:hover {
      color: $mid-nude;
    }  
  }

  .dropdown-menu {
     background-color: $nude;
     text-align: center;
     .dropdown-item:hover {
      color: $brown;
    }
  }
  
  .contact-link {
    @include btn-style;
  }

  .contactbtn {
    @include  btn-link;
  }
  