
.navbar {
  background-color: $brown;
  font-family: $text_headline;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  }
  .navbar.hidden {
    opacity: 0;
  }

  .logo {
      box-shadow: 10px 20px 50px rgb(255, 255, 255); 
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  /* Définir le style des liens de navigation */
  .nav-link {
    color: $nude;
    margin: 0.5em;
    font-size: 1.2em; 
    &:hover {
      color: $mid-nude;
    }  
  }
  .dropdown-menu {
     background-color: $nude;
     text-align: center;
     
     .dropdown-item:hover {
      color: $brown;
    }
  }
  
  .contact-link {
    @include btn-style;
  }

  .contactbtn {
    @include  btn-link;
  }
  