//Responsive design
//au dessus de 1076px  
@media screen and (min-width: 956px) {
  .logo-2 {
    display: none;
  }
    
  }
  // de 771 a 956 
    @media screen and (min-width: 771px) and (max-width: 956px) {
      .navbar {
        height: 10%;
      }
      .navbar-collapse {
        background-color: $brown;
        display: block;
        /* Masquer le logo de l'entreprise */
        .navbar-brand {
          display: none;
        }
      }
      .logo-2 {
        display: none;
      }
  }
    // en dessous de 771
    @media (max-width: 771px) {
      
      footer ul li i {
        margin-right: 10px;
      }
      .navbar-collapse {
        background-color: $brown;
        border-radius: 10%;
      }
      .text-about {
        width: 100%;
    }
    form {
        margin: 0%;
        width: 100%;
      }
      
      
      .navbar {
        color: $nude;
        height: 10%;
      }
      .navbar-brand {
        display: none;
      }
    
      .gallery-item {
        width: auto;
      }
      .menu {
        font-size: 30px
      }
  };
  