
form {
  width: 100%;
  background-color:$nude;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px $brown;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"], input[type="date"], input[type="number"], select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $brown;
  margin-bottom: 20px;
  font-size: 16px;
  color: #7f5539;
}
.submit , .cancel {
  background-color: #b08968;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  &:hover {
    background-color: $brown;
  }
}

 @media screen and (max-width: 800px) {
        form {
          margin: 0%;
          width: 100%;
        }
        input[type="submit"] {
          margin-top: 20px;
        }
      }