.schedule_group {
    text-align: center;
    font-family: $text_body;
    color: $nude;

    .schedule_title{
        @include title;
    }
    .schedule_list {
    list-style: none;
    }
}
.cart {
    border: 5px solid $mid-nude;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 0 auto;
  }
  
