.schedule_group {
    text-align: center;
    font-family: $text_body;
    color: $nude;

    .schedule_title{
        font-family: $text_headline;
        font-size: 3em;
    }
    .schedule_list {
    list-style: none;
    }
}
