.shedule_group {
    text-align: center;
    font-family: $text_body;
    color: $nude;
    background-color: $brown;
    .schedule_title{
        font-family: $text_headline;
        font-size: 3em;
    }
    .shedule_list {
    list-style: none;
    }
}
