.signup-title {
    font-family: $text_headline;
    text-align: center;
    color: $nude;
}

.signup-form {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: $nude;
    border-radius: 10px;

}