@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


$gray : #6c757d;
$brown : #7f5539;
$mid_nude : #b08968;
$nude : #e6ccb2;

$text_headline : font-family, 'Playfair Display', serif;
$text_body : font-family, 'Poppins', sans-serif;
$text_resa : font-family, 'Mochiy Pop P One', sans-serif;


@mixin btn-style {
    background-color: $nude;
    font-family : $text_body;
        &:hover {
            background-color: $mid_nude;
            color: $brown;
        }
}

@mixin burger-image {
    width: 10%;
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
