// Variables
$gray: #6c757d;
$brown: #7f5539;
$mid_nude: #b08968;
$nude: #e6ccb2;

$text_headline: 'Playfair Display', serif;
$text_body: 'Poppins', sans-serif;
$text_resa: 'Mochiy Pop P One', sans-serif;
