@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
body {
  box-sizing: border-box;
  background-color: #b08968;
}

@keyframes spin {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
form {
  width: 100%;
  background-color: #e6ccb2;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px #7f5539;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type=text], input[type=date], input[type=number], select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7f5539;
  margin-bottom: 20px;
  font-size: 16px;
  color: #7f5539;
}

.submit, .cancel {
  background-color: #b08968;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.submit:hover, .cancel:hover {
  background-color: #7f5539;
}

@media screen and (max-width: 800px) {
  form {
    margin: 0%;
    width: 100%;
  }
  input[type=submit] {
    margin-top: 20px;
  }
}
.group-dishes {
  margin-top: 5%;
  font-family: font-family, "Poppins", sans-serif;
  background-color: #b08968;
  color: #7f5539;
}

.formule {
  background-color: #e6ccb2;
  text-align: center;
  border: 10px solid #7f5539;
}
.formule .time {
  list-style: none;
  text-decoration: underline;
}
.formule .content {
  list-style: none;
  padding: 1em;
}
.formule h2 {
  letter-spacing: 0.3em;
  font-family: font-family, "Playfair Display", serif;
}

.burger-image {
  width: 10%;
  animation: spin 10s linear infinite;
  margin-left: 2em;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

.caption {
  font-family: font-family, "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  background-color: rgba(127, 85, 57, 0.4509803922);
  padding: 0.3rem;
  color: #e6ccb2;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.5s ease;
}

.gallery-item:hover .caption {
  opacity: 1;
  transform: scale(1.1);
}

/* Définir la couleur de fond de la barre de navigation */
.navbar {
  background-color: #7f5539;
  font-family: font-family, "Playfair Display", serif;
}

/* Définir le style du logo */
.logo {
  box-shadow: 10px 20px 50px black;
}

/* Définir le style de la barre de navigation */
.navbar-collapse {
  /* Définir la disposition de la barre de navigation */
  display: flex;
  justify-content: space-between;
}

/* Définir le style des liens de navigation */
.nav-link {
  color: #e6ccb2;
  margin: 0.5em;
  font-size: 1.2em;
}

.dropdown-menu {
  background-color: #e6ccb2;
  text-align: center;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #b08968;
}

/* Définir le style des liens de contact */
.contact-link {
  background-color: #e6ccb2;
  font-family: font-family, "Poppins", sans-serif;
}
.contact-link:hover {
  background-color: #b08968;
  color: #7f5539;
}

/* Définir le style de la barre de navigation pour les écrans de petite taille */
.wrapper {
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../style/image/interieur.png");
}

.text-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  color: #e6ccb2;
  background-image: linear-gradient(to bottom right, rgb(127, 85, 57), rgba(127, 85, 57, 0.466));
}
.text-about .title {
  font-family: font-family, "Playfair Display", serif;
  font-size: 5rem;
}
.text-about .subtitle {
  font-family: font-family, "Playfair Display", serif;
  font-size: larger;
}

footer {
  padding-top: 5%;
  font-family: font-family, "Poppins", sans-serif;
  color: #e6ccb2;
}
footer a {
  text-decoration: none;
  color: #e6ccb2;
}
footer a:hover {
  color: #7f5539;
}

@media screen and (min-width: 1076px) {
  .jarallax-image {
    top: 110px;
  }
  .title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1076px) {
  .jarallax-image {
    top: 0;
  }
  .navbar-collapse {
    display: block;
    /* Masquer le logo de l'entreprise */
  }
  .navbar-collapse .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1076px) and (max-width: 768px) {
  .contact {
    margin-left: 25%;
  }
  footer ul li i {
    margin-right: 10px;
  }
}/*# sourceMappingURL=main.css.map */