<nav class="navbar navbar-expand-md">
    <div class="navbar">
        <ul class="navbar-nav m-4">
            <li class="nav-item m-4 p-2  rounded-circle"><a href="#" class="nav-link">Acceuil</a></li>
            <li class="nav-item m-4 p-2  rounded-circle"><a href="#" class="nav-link">La carte</a></li>
        </ul>
        
        <a link="#" class="navbar-brand"><img src="style/image/text+logo.png" width="150" height="150" alt=""></a>
        
        <ul class="navbar-nav m-4">
            <li class="nav-item  m-4 p-2 rounded-circle"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item  m-4 p-2 rounded-circle"><a href="#" class="nav-link">réservation</a></li>
        </ul>
    </div>
</nav>