<body style="text-align: center; background-color: #e6ccb2; color: #7f5539; text-align: center"> 
    <a href="../index.php"><img src="../image/Logo.png"></a>
    
    <body>
    <h2>Reinitialisation du mot de passe</h2>
    <p>Un e-mail contenant les instructions pour reinitialiser votre mot de passe a ete envoye a votre adresse e-mail enregistree.</p>
    <p>Veuillez consulter votre boite de reception et suivre les instructions pour reinitialiser votre mot de passe.</p>
    <a class="contact-link"href="../index.php">accueil</a>
</body>

